<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Lista de Estudiantes</h1>
        </div>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="Nombre">Nombre</th>
                <th scope="Apellido">Apellido</th>
                <th scope="Email">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="estudiante : ${estudiantes}">
                <td th:text="${estudiante.nombre}">Larry</td>
                <td th:text="${estudiante.apellido}">the Bird</td>
                <td th:text="${estudiante.email}">@twitter</td>
              </tr>
            </tbody>
        </table>

    </div>


</body>
</html>